.children-info {
  background-color: $color-linen;
  padding: 77px 0 83px;
  overflow: hidden;

  @include vp-767 {
    padding: 52px 0 41px;
  }

  &__title {
    font-size: 70px;
    line-height: 1.1;
    text-transform: uppercase;
    font-family: $ff-secondary;
    margin: 0 0 36px 0;
    text-align: center;
    font-weight: 400;
    letter-spacing: -0.035em;

    @include vp-767 {
      font-size: 40px;
      margin: 0 0 17px 0;
    }
  }

  &__text {
    max-width: 843px;
    margin: 0 auto 60px;
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;

    @include vp-767 {
      font-size: 18px;
      margin: 0 0 21px 0;
      text-align: left;
    }
  }

  &__image {
    position: relative;
    height: 100%;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    top: 0;

    @include vp-767 {
      min-height: 300px;
    }

    @media (max-width: 450px) {
      min-height: 240px;
    }
  }

  &__img {
    width: 100%;
    max-height: 800px;

    @include vp-767 {
      height: 100%;
    }
  }
}
