.custom-input {
  position: relative;
  $root: &;

  &__field {
    border: 1px solid transparent;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 14px 20px;
    width: 100%;
    outline: none;
    transition: border-color $transition-300, background-color $transition-300;

    &::placeholder {
      color: rgba($color-jaguar, 0.3);
    }

    &:disabled {
      cursor: default;
    }

    &:hover,
    &:focus-visible {
        border-color: $color-deep-teal;
        background-color: rgba($color-jaguar, .1);
        outline: none;
    }
  }

  &--error .custom-input__field {
    border-color: $color-orange-red;
    background-color: rgba($color-orange-red, .05);
}

&--error .custom-input__error {
    display: block;
}

&__error {
    position: absolute;
    display: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color:$color-orange-red;
    bottom: -14px;
    left: 30px;
    pointer-events: none;
}
}
